*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-main-background: rgb(241,239,233);
  --clr-cards: rgb(220,216,206);
  --clr-details-section: rgb(231,229,221);
  --clr-footer: rgb(220,216,206);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  height: 90vh;
  margin: 0;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}